@charset "utf-8";

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  list-style: none;
}
// 背景指定
@mixin img_bg($animal) {
  background: url(../images/img_#{$animal}.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
  opacity: 0;
}
/******************************************************************************************************************************
   
******************************************************************************************************************************/
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  + div {
   -webkit-filter: grayscale(100%);
   -moz-filter: grayscale(100%);
   -o-filter: grayscale(100%);
   -ms-filter: grayscale(100%);
   filter: grayscale(100%);
  }
}
.bg_fixed {
  background: url(../video/background.jpg) no-repeat;
  background-size: 100% auto;
  position: fixed;
  width: 100%;
  height: 100%;
}
.num {
  margin: 0;
  position: fixed;
  right: 10px;
  top: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.41);
  padding: 4px;
  width: 70px;
  border-radius: 1em;
  text-align: center;
  font-size: 12px;
}

.img_1 { @include img_bg(lion);}
.img_2 { @include img_bg(pig);}
.img_3 { @include img_bg(kapibara);}
.img_4 { @include img_bg(gorilla);}
.img_5 { @include img_bg(cat);}
.img_6 { @include img_bg(bird);}
.img_7 {
  width: 100%;
  height: 100%;
  background: url(../images/cloud_up.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}
.img_8 {
  width: 100%;
  height: 100%;
  background: url(../images/text.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
  opacity: 0;
}
.headphone {
  width: 14%;
  height: 100%;
  background: url(../images/headphone.png) no-repeat;
  background-size: 100% auto;
  margin: 30% auto 0;
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  .play {
    position: relative;
    z-index:3;
  }
}

// 手前の雲
.cloud_btm_1,
.cloud_btm_2 {
  width: 100%;
  height: 50%;
  position: fixed;
  bottom: 0;
  background: url(../images/cloud_near.png) repeat-x;
  background-size: 100% auto;
  animation: cloudmove 100s linear infinite;
  -webkit-animation: cloudmove 100s linear infinite;
  // -moz-animation: cloudmove 100s linear infinite;
}
.cloud_btm_1 {
  width: 110%;
  animation: cloudmove 100s linear infinite;
  -webkit-animation: cloudmove 100s linear infinite;
  // -moz-animation: cloudmove 100s linear infinite;
}
.cloud_btm_2 {
  animation: cloudmove2 100s linear infinite;
  -webkit-animation: cloudmove2 100s linear infinite;
  // -moz-animation: cloudmove 100s linear infinite;
}
@keyframes cloudmove {
  0% {background-position: 0 0;}
  25% {background-position: 200px 5px;}
  50% {background-position: 400px 0;}
  75% {background-position: 600px 5px;}
  100% {background-position: 800px 0;}
}
@-webkit-keyframes cloudmove {
  0% {background-position: 0 0;}
  25% {background-position: 200px 5px;}
  50% {background-position: 400px 0;}
  75% {background-position: 600px 5px;}
  100% {background-position: 800px 0;}
}
@keyframes cloudmove2 {
  0% {background-position: 0 0;}
  25% {background-position: -800px 5px;}
  50% {background-position: -600px 0;}
  75% {background-position: -400px 5px;}
  100% {background-position: -200px 0;}
}
@-webkit-keyframes cloudmove2 {
  0% {background-position: 0 0;}
  25% {background-position: -800px 5px;}
  50% {background-position: -600px 0;}
  75% {background-position: -400px 5px;}
  100% {background-position: -200px 0;}
}
// @-moz-keyframes cloudmove {
//   0% {background-position: 0 0;}
//   25% {background-position: 200px 5px;}
//   50% {background-position: 400px 0;}
//   75% {background-position: 600px 5px;}
//   100% {background-position: 800px 0;}
// }
@keyframes pulse {
  0% {opacity: 0.3;   }
  50% {opacity: 1; } 
  100% {opacity: 0.3; }     
}

@-webkit-keyframes pulse {
  0% {-webkit-opacity: 0.3;   }
  50% {-webkit-opacity: 1; } 
  100% {-webkit-opacity: 0.3; }     
}

.memo {
  opacity: 0;
  zoom: 0;
}

