ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  list-style: none;
}

/******************************************************************************************************************************
   
******************************************************************************************************************************/
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
html + div, body + div {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.bg_fixed {
  background: url(../video/background.jpg) no-repeat;
  background-size: 100% auto;
  position: fixed;
  width: 100%;
  height: 100%;
}

.num {
  margin: 0;
  position: fixed;
  right: 10px;
  top: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.41);
  padding: 4px;
  width: 70px;
  border-radius: 1em;
  text-align: center;
  font-size: 12px;
}

.img_1 {
  background: url(../images/img_lion.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_2 {
  background: url(../images/img_pig.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_3 {
  background: url(../images/img_kapibara.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_4 {
  background: url(../images/img_gorilla.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_5 {
  background: url(../images/img_cat.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_6 {
  background: url(../images/img_bird.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_7 {
  width: 100%;
  height: 100%;
  background: url(../images/cloud_up.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.img_8 {
  width: 100%;
  height: 100%;
  background: url(../images/text.png) no-repeat;
  background-size: 100% auto;
  position: fixed;
}

.headphone {
  width: 14%;
  height: 100%;
  background: url(../images/headphone.png) no-repeat;
  background-size: 100% auto;
  margin: 30% auto 0;
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
.headphone .play {
  position: relative;
  z-index: 3;
}

.cloud_btm_1,
.cloud_btm_2 {
  width: 100%;
  height: 50%;
  position: fixed;
  bottom: 0;
  background: url(../images/cloud_near.png) repeat-x;
  background-size: 100% auto;
  animation: cloudmove 100s linear infinite;
  -webkit-animation: cloudmove 100s linear infinite;
}

.cloud_btm_1 {
  width: 110%;
  animation: cloudmove 100s linear infinite;
  -webkit-animation: cloudmove 100s linear infinite;
}

.cloud_btm_2 {
  animation: cloudmove2 100s linear infinite;
  -webkit-animation: cloudmove2 100s linear infinite;
}

@keyframes cloudmove {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 200px 5px;
  }
  50% {
    background-position: 400px 0;
  }
  75% {
    background-position: 600px 5px;
  }
  100% {
    background-position: 800px 0;
  }
}
@-webkit-keyframes cloudmove {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 200px 5px;
  }
  50% {
    background-position: 400px 0;
  }
  75% {
    background-position: 600px 5px;
  }
  100% {
    background-position: 800px 0;
  }
}
@keyframes cloudmove2 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -800px 5px;
  }
  50% {
    background-position: -600px 0;
  }
  75% {
    background-position: -400px 5px;
  }
  100% {
    background-position: -200px 0;
  }
}
@-webkit-keyframes cloudmove2 {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: -800px 5px;
  }
  50% {
    background-position: -600px 0;
  }
  75% {
    background-position: -400px 5px;
  }
  100% {
    background-position: -200px 0;
  }
}
@keyframes pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-opacity: 0.3;
  }
  50% {
    -webkit-opacity: 1;
  }
  100% {
    -webkit-opacity: 0.3;
  }
}
.memo {
  opacity: 0;
  zoom: 0;
}
